.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 1280px;
  width: 100%;
  margin: 10px auto 0;

  @media screen and (max-width: $medium) {
    flex-direction: column;
  }

  &__thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: .3;
    padding: 0 2em;
    height: 100%;

    background-color: $glowLight;

    & > picture > img {
      box-shadow: 10px 10px 10px 10px $shadowLight;
      width: 100%;
    }

    @include darkMode {
      background-color: $glowDark;
      & > picture > img {
        box-shadow: 10px 10px 10px 10px $shadowDark;
      }
    }
  }

  &__detail {
    flex: 1 1;
    padding: 2em;

    & > * {
      padding: .5em 0;
    }

    & > p {
      padding: 2em 0;
    }
  }
}

.detail {
  &__categories {
    font-style: italic;
    color: $secondaryTextLight;

    @include darkMode {
      color: $secondaryTextDark
    }
  }

  &__authors {
    text-decoration: underline;
    color: $secondaryTextLight;

    @include darkMode {
      color: $secondaryTextDark
    }
  }
}