* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: $primaryTextLight;
  background-color: $primaryLight;

  font-size: 16px;
  @media screen and (max-width: $medium) {
    font-size: 14px;
  }
  @media screen and (max-width: $small) {
    font-size: 12px;
  }

  @media (prefers-color-scheme: dark) {
    color: $primaryTextDark;
    background-color: $primaryDark;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}