header {
  position: sticky;
  top: 0;
  background-color: $primaryLight;
  padding-bottom: 1em;
  box-shadow: 0 9px 10px 0 $primaryLight;

  @include darkMode {
    background-color: $primaryDark;
    box-shadow: 0 9px 10px 0 $primaryDark;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  & > div:not(.search) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & > label {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

.search {
  display: flex;
  width: fit-content;
  align-items: center;
  position: relative;

  &__input {
    font-size: 1.5em;
    appearance: none;
    border: none;
    outline: none;
    width: 100%;
    padding: .25em;

    &:disabled{
      cursor: no-drop;
    }
  }

  & > img {
    position: absolute;
    height: 1.5em;
    right: .5em;
    cursor: pointer;

    &.disabled{
      pointer-events: none;
    }
  }
}