header {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: $primaryLight;
  padding-bottom: 1em;
  box-shadow: 0 9px 10px 0 $primaryLight;

  @include darkMode{
    background-color: $primaryDark;
    box-shadow: 0 9px 10px 0 $primaryDark;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.search {
  position: relative;
  font-size: 1.5em;
  margin: .5em;

  &::after {
    position: absolute;
  }
}