.card {
  margin: 1em;
  padding: 1em;
  display: flex;
  width: calc((100% - 2em) / 7);
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: box-shadow .5s, background-color .5s;

  background-color: $cardBGLight;

  &:hover {
    box-shadow: 0 0 10px 10px $shadowLight;
    background-color: $glowLight;

  }

  @include darkMode {
    background-color: $cardBGDark;

    &:hover {
      box-shadow: 0 0 10px 10px $shadowDark;
      background-color: $glowDark;
    }
  }

  & > div {
    height: 40%;

    & > img {
      height: 100%;
      width: auto;
    }
  }


  &__categories {
    font-style: italic;
    color: $secondaryTextLight;

    @include darkMode{
      color: $secondaryTextDark;
    }
  }

  &__authors {
    text-decoration: underline;
    color: $secondaryTextLight;
    @include darkMode{
      color: $secondaryTextDark;
    }
  }
}

