.card {
  margin: 1em;
  padding: 1em;
  display: flex;
  width: calc(100% / 7);
  height: 400px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: box-shadow .5s, background-color .5s;

  background-color: $cardBGLight;

  &:hover {
    box-shadow: 0 0 10px 10px $shadowLight;
    background-color: $glowLight;

  }

  @include darkMode {
    background-color: $cardBGDark;

    &:hover {
      box-shadow: 0 0 10px 10px $shadowDark;
      background-color: $glowDark;
    }
  }

  & > div {
    min-height: 40%;
    max-width: 100%;

    & > img {
      height: 100%;
      width: auto;
      display: block;
      margin: 0 auto;
      max-width: 100%;
      object-fit: contain;
    }
  }


  &__categories {
    font-style: italic;
    color: $secondaryTextLight;

    @include darkMode {
      color: $secondaryTextDark;
    }
  }

  &__authors {
    text-decoration: underline;
    color: $secondaryTextLight;
    @include darkMode {
      color: $secondaryTextDark;
    }
  }
}

