footer {
  text-align: center;
  background-color: $primaryLight;
  padding-bottom: .5em;

  & > input {
    padding: .25em .5em;
    font-size: 1.5em;

    &:disabled{
      cursor: no-drop;
    }
  }

  @include darkMode {
    background-color: $primaryDark;
  }
}